-e git+git@github.com:pknull/rpg-dice.git@master#egg=dice_roller
-e git+git@github.com:pknull/rpg-card.git@master#egg=card_picker
-e git+git@github.com:pknull/chatterbot-markov.git@master#egg=chatterbot_markov
discord.py==0.16.5
sympy
ChatterBot==0.5.3
markovify==0.5.3
